@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  /* line-height: 1.5em; */
  padding: 0;
  margin: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* color: #926239; */
  /* font-size: 17px; */
}

section {
  height: 130vh;
}

#showcase {
  background-color: rgb(65, 63, 63);
}

#Program-Schedules {
  background-color: rgb(182, 170, 170);
}

#About {
  background-color: #000;
}

#contact {
  background-color: #000;
}

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
  background: linear-gradient(45deg, #f857a8, #ff5858);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #f857a8;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #f857a8;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active,
  a:visited.active,
  a:active.active {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}

/* Back To Top Button */

.scrollTop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #fff url(./Images/up.png);
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

/* Home Page image */

#showcase {
  background-image: url("./Images/Fireworks.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

/* #showcase .title {
  background: linear-gradient(to right, #0753cb, #ca09bc);
  font-size: 5rem;
  font-weight: 900;
  line-height: 5;
  color: linear-gradient(to right, #0753cb, #ca09bc);
  color: #f857a8;
} */

/* #showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 250, 12);
  border: rgb(10, 211, 20) 5px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
} */

/* Animated Heading */
/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  /* background: #111; */
  background-size: 0.1em 100%;
  font: 6em/1 Open Sans, Impact;
  text-transform: uppercase;
  fill: none;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
  display: flex;
  /* text-shadow: -1px -1px 0px rgb(124, 124, 124), 5px 5px 0px rgb(255, 255, 255),
    6px -6px 0px rgb(0, 0, 0); */
  text-shadow: 3px 3px 5px gray;
  /* text-shadow: 0 1px 0 #000, 0 2px 0 #d89999, 0 3px 0 #d59292, 0 4px 0 #d28a8a,
    0 5px 0 #cf8383, 0 6px 0 #cd7c7c, 0 15px 0 rgb(131, 130, 130),
    0 8px 0 #c76d6d, 0 0 5px rgba(230, 139, 139, 0.05),
    0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3),
    0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3); */
  /* box-shadow: 10px 10px 100px rgb(0, 0, 0, 1); */
}
.text:nth-child(5n + 1) {
  stroke: #ff002f;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #d9ff00;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: #00ff2a;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: #00fbe6;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: #2600ff;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/* Other styles */
/* html,
body {
  height: 100%;
} */

/* body {
  background: #111;
  background-size: 0.2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
} */

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Blur */

/* .container {
  width: 100rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding-bottom: 100px;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -10px;
} */

/* About Section */

#About {
  padding: 5%;
  text-align: center;
  margin: 0 auto;
}

#About .title,
#Program-Schedules .title {
  /* padding-right: 250px; */
  /* float: left; */
  text-align: center;
  padding: 20px;
  padding-top: 70px;
  margin: auto;
  font-size: 500%;
  color: #cccccc;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777,
    0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333,
    0 8px 7px rgba(0, 0, 0, 0.4), 0 9px 10px rgba(0, 0, 0, 0.2);
}

#About .info {
  float: center;
  padding-top: 40px;
  /* padding-right: 100px; */
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 30vw;
}

#About .image {
  padding: 80px 10px 1px 180px;

  margin: 50px;
  /* width: 50vw; */
  /* height: 50vh; */
  /* max-width: 100vw; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* Booking  */

#About .program-info {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#About .program-title {
  color: #7e42f5;
  text-shadow: 0 1px 0 #3f217a, 0 2px 0 #3f217a, 0 3px 0 #3f217a,
    0 4px 0 #3f217a, 0 5px 0 #3f217a, 0 6px 0 #3f217a, 0 7px 0 #3f217a,
    0 8px 7px #3f217a, 0 9px 10px #3f217a;
}

.about {
  width: 55%;
  margin-right: 2%;
  float: left;
}

/* Form input */

form {
  padding: 8px;
  width: 32px;
  margin: 0 auto;
  align-items: right;
  flex-direction: column;
  width: 60%;
  display: flex;
  float: right;
}

.segment {
  /* padding: 5px 0px; */
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  /* width: 80px; */
  font-size: 16px;
  border-radius: 320px;
  padding: 20px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  color: #fff;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
  margin-right: 8px;
}

button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}

form h1 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 70px;
}

.quote {
  color: #fff;
}

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 10vh;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #ffffff;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  margin: 80px auto;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote p {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

/* Blockquote Upper left double quotes */
.blockquote::before {
  position: absolute;
  content: "\201C"; /* content: "\201D" */
  color: rgba(255, 255, 255, 1);
  font-size: 5rem;
  line-height: 0;
  top: 10px;
  left: 30px;
}

/* Blockquote lower right double quotes */
.blockquote:after {
  position: absolute;
  content: "\201D"; /* content: "\201C" */
  color: rgba(255, 255, 255, 1);
  font-size: 5rem;
  line-height: 0;
  bottom: -10px;
  right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}

/* Schedule Title */

#Program-Schedules .schedule-title {
  align-content: center;
  /* padding-top: 500px; */
  height: 500%;
}

/* Program Schedules card */

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #011a41;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}

.card .txt {
  line-height: 2;
  font-size: 1rem;
  color: rgb(9, 255, 0);
  /* opacity: 1; */
  -webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  padding: 10px;
  text-transform: none;
}

.card img {
  position: relative;
  align-items: center;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #1abc9c;
  transform: scale(1.05);
}
.card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  /* background-color: #949fb0; */
  color: #056d13;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card.is-expanded .card__inner {
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "ï„•";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n + 3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n + 4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n + 3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

/* Contact Us Map */

.contact-wrap {
  padding: 30px;
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-in {
  padding: 40px 30px;
}

.contact-in:nth-child(1) {
  flex: 30%;
  background: url(./Images/office.jpg);
  color: #fff;
}

.contact-in:nth-child(2) {
  flex: 38%;
  background: rgba(32, 96, 165, 0.883);
}

.contact-in:nth-child(3) {
  flex: 25%;
  padding: 0;
}

.contact-in h1 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-in h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-in h2 i {
  font-size: 16px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  color: #000;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
}

.contact-in p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-in ul {
  padding: 0;
  margin: 0;
}

.contact-in ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.contact-in ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
}

.contact-in ul li a i {
  font-size: 14px;
  line-height: 30px;
  color: #000;
}

.contact-in form {
  width: 100%;
  height: auto;
}

.contact-in-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.contact-in-input::placeholder {
  color: #fff;
}

.contact-in-textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-top: 5px;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.contact-in-textarea::placeholder {
  color: #fff;
}

.contact-in-btn {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}

.contact-in iframe {
  width: 100%;
  height: 200%;
}

@media only screen and (max-width: 480px) {
  .contact-in:nth-child(1) {
    flex: 50%;
  }

  .contact-in:nth-child(2) {
    flex: 50%;
  }

  .contact-in:nth-child(3) {
    flex: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .contact-in:nth-child(1) {
    flex: 50%;
  }

  .contact-in:nth-child(2) {
    flex: 50%;
  }

  .contact-in:nth-child(3) {
    flex: 100%;
  }
}

/* Footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: darkblue;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.l-footer p {
  padding-right: 20%;
  color: #999;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
